:root{
    --edge-margin: 60px;
    --common-border-rad: 4px;
    --default-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(198, 198, 198)
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 193, 118);
}

div{
    background-color: transparent;
    /* outline: 5px solid red; */
    /* border-style: solid; */
    border-width: 1px;
}

img{
    max-width: 100%;

}

body{
    background-color: gray;

}

.header-container{

    height: 90px;
    display: flex;
    margin: 0px var(--edge-margin) 0px;
}

.header-item{

    flex: auto;
    display: flex;
    
}

.header-title-div{
    background-color: transparent;
    display: flex;
    justify-content: center; 
    align-content: center;
    flex-direction: column;

    padding: 0px 30px 0px;
}

.header-title-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

#header-left{
    justify-content: center;
}

#header-right{
    justify-content: right;
}

.header-link-div{
    display: flex;
    justify-content: center; 
    align-content: center;
    flex-direction: column;
}

.header-link-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: transparent;
    border-color: transparent;
    color: whitesmoke;

    display: flex;
    align-items: center;
}

/* .header-contents{
 background-color: blueviolet;
}  */

.feature-block-container{
    display: flex;  
    margin: 120px var(--edge-margin) 160px;
}

.feature-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#feature-left{
    flex: 1;
}

#feature-right{
    flex: 1.5;
}


.feature-aligner{
    background-color: transparent;
    margin: 12px;
}

#feature-img-aligner{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
}

.feature-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 48px;
    padding: 12px;
}

.feature-paragraph{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    padding: 12px;
}

.feature-sign-up-button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 12px;
    margin: 12px;

    padding: 6px 24px 6px;
    border-radius: 4px;
    border-color: transparent;
    background-color: black;
    color: whitesmoke;
}

.feature-sign-up-button:hover{
    background-color: darkgray;
    color: black;
    cursor: pointer;
    
}

.feature-sign-up-button:active{
    background-color: rgb(75, 75, 75);
    color: whitesmoke;
}

.feature-img{
    max-width: 100%;
}

.mainbody{
    margin: 0px var(--edge-margin) 0px;
    background-color: whitesmoke;
}

.mainbody .header-title-div{

}

.mainbody .title-container{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    padding: 40px 0px 40px;
}

.mainbody .main-header{
    font-family: var(--default-font-family);
}